.nyc_output
coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.parcel-cache
dist
pids
logs
results

node_modules
npm-debug.log

.idea
.cache
.vscode
.windmillcode/go_scripts/*/diode.exe*
.windmillcode/go_scripts/*/diode*
.windmillcode/go_scripts/*/main.exe*
.windmillcode/go_scripts/*/main*
!.windmillcode/go_scripts/*/main.go